$title-color: #222222;

$content-color: #666;

$normal-text-color: #999;

$theme-color: #4e7bff;

$bg-color: #f0f2f5;

$border-color: #eeeeee;

$title-fontSize: 16px;

$content-fontSize: 14px;

$small-fontSize: 12px;
